*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}
.main-container {
  display: flex;
}
.content {
  width: 100%;
}
.sidebar {
   background-color: rgb(0,7,61);
   color: white;
   height: 100vh;
}
.top-section {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 10px;
}
.logo{
font-size: 22px;
line-height: 0;
}

.link {
  display: flex;
  color: white;
  gap: 10px;
  flex-direction: row;
  text-decoration: none;
  padding: 5px 10px;
  border-right: solid 4px transparent;
  font-size: 28px;
}

.link:hover {
  border-right: solid white 4px;
  opacity: 0.7;
}
.active {
  border-right: solid white 4px;
  opacity: 0.7;
}
.menu{
  display: flex;
  color: white;
  gap: 10px;
  flex-direction: row;
  text-decoration: none;
  padding: 5px 10px;
  border-right: solid 4px transparent;
  font-size: 28px;
  justify-content: space-between;
}
.menu-item{
  display: flex;
  gap: 10px;
}

.sub-link {
  display: flex;
  color: white;
  gap: 10px;
  flex-direction: row;
  text-decoration: none;
  padding: 5px 10px;
  border-right: solid 4px transparent;
  font-size: 20px;
  padding-left: 30px
}
.sub-link:hover {
  border-right: solid white 4px;
  opacity: 0.7;
}
.sublink-active {
  border-right: solid white 4px;
  opacity: 0.7;
}
.main-content{
  height: 100%;

}
.dashboard-content{
  background-color: rgb(246, 242, 246);
  margin: 20px;
}

.project-context{
  background-color: rgb(246, 242, 246);
  margin: 20px;
}
.dashboard{

}
.bread-crumb{
  padding: 10px;
  background-color: white;
}